body{
margin: 0;
padding: 0;
background: url(pic1.jpg);
background-size :cover;
background-position:center ;
font-family: sans-serif;
top: 50%;
     left: 50%;
     position: absolute;
     transform:translate(-50%,-50%);
     padding: 70px 30px;
    

}

.loginbox{
     width: 320px;
     height: 420px;
     background: #000;
     color: #fff;
     top: 50%;
     left: 50%;
     position: absolute;
     transform:translate(-50%,-50%);
     box-sizing: border-box;
     padding: 70px 30px;
     background-color: rgba(131, 134, 134, 0.11);
    border-radius: 20px;
    

}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:calc(50% - 50px);

}
.loginbox h1{
  margin: 0;
  padding: 0 0 20px;
  text-align:center ;
  font-size: 22px;

}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}
.loginbox input{
    width: 100%;
    margin-bottom:20px ;
 
}
.loginbox input[type="text"], input[type="password"], input[type="email"]{

border : none ; 
border-bottom : 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #fff;
font-size: 16px;

}


.loginbox input[type="submit"]{
border: none;
outline: none;
height: 40px;
background:rgb(82, 148, 226);
color: #fff;
font-size: 18px;
border-radius: 20px;

}
.loginbox input[type="submit"]:hover{
cursor: pointer ;
background: #94f194;
color: #000;

}

.loginbox a{
text-decoration: none;
font-size: 12px;
line-height: 20px;
color:#fff;
font-weight: bold;
font-size: 12px;

}
.loginbox a:hover{
color: rgba(37, 229, 236, 0.959);

}

.avatar2{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   position: absolute;
   top: -50px;
   left:calc(50% - 50px);
}

#login{
left : 5000000px;

}
#register{
  left : 50px;
 
 }
#adminlog{
 left : 5000000px;
       
 }
 #forgotscreen{
 left : 5000000px;    
 }
 
 .avatar3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:calc(50% - 50px);
 
 }  
 #adminim{  
font-size: 20px;
margin-top: inherit;
padding-left: 30%;
color: purple;
 }

#adminim:hover{  
color: rgba(37, 229, 236, 0.959);
}


.resetim {
border: none;
outline: none;
height: 20px;
width: 5px;
background:rgb(82, 148, 226);
color: #fff;
font-size: 18px;
border-radius: 20px;
margin-top: 20px;

}
.resetim input[type="button"]:hover{
cursor: pointer ;
background: #94f194;
color: #000;

}

